*{
    margin: 0;
    padding: 0%;
}
.Heading{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    align-items: center;
}

.col-10{
    width: 100vh;
    height: 700px;



}
.col-4{
    width: 100vh;
    height: 100px;

    

}
.img-fluid{
    width: 100vh;
    padding: 10px 0px ;
    border-radius:8%;
}
